.loginContainer {
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  padding: 35px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;

  @media (max-width: 500px) {
    margin: 20px auto;
    padding: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  max-width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  transition: border-color 0.3s;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;

  &:focus {
    border-color: #5c6bc0;
    outline: none;
  }
}

.errorInput {
  border-color: #e53935;
}

.errorMessage {
  margin-bottom: 10px;
  color: #e53935;
  font-size: 0.875em;
}

.button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #007bff;

  &:not(:disabled):hover {
    background-color: #0056b3;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }
}

.divider {
  position: relative;
  margin: 20px 0;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    content: '';
    background-color: #ccc;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  span {
    position: relative;
    z-index: 1;
    padding: 0 10px;
    background-color: #fafafa;
  }
}

.buttonSubmit {
  width: 100%;
  padding: 8px 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #5c6bc0;
  font-size: 16px;

  &:hover {
    background-color: #3949ab;
  }

  &.googleButton {
    color: #fff;
    background-color: #4285f4;

    &:hover {
      background-color: #357ae8;
    }
  }
}
